<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-danger bg-secondary" style="--bs-bg-opacity: .3;">{{zone.name}}</h5>
    <p class="card-text bg-danger" style="--bs-bg-opacity: .5;" *ngIf="isRaid(zone.category)">Zone cateogory: {{zone.category}}</p>
    <p class="card-text bg-primary bg-gradient"  style="--bs-bg-opacity: .5;" *ngIf="isDungeon(zone.category)">Zone cateogory: {{zone.category}}</p>
    <p class="card-text bg-success bg-gradient" style="--bs-bg-opacity: .5;" *ngIf="isOpenWorld(zone.category)">Zone cateogory: {{zone.category}}</p>
    <p class="card-text">Zone level: {{zone.level}}</p>
    <p class="card-text">Zone territory: {{zone.territory}}</p>
  </div>
  <div class="card-body">
    <!--<button *ngIf="!isLiked(zone.id)" (click)="wouldLike(zone)">Would like to play in</button>-->
    <button type="button" class="btn btn-primary" *ngIf="!isLiked(zone.id)" (click)="wouldLike(zone)">Would like to play in</button>
    <!--<button *ngIf="isLiked(zone.id)" (click)="wouldntLike(zone)">Wouldn't like to play in</button>-->
    <button type="button" class="btn btn-danger" *ngIf="isLiked(zone.id)" (click)="wouldntLike(zone)">Wouldn't like to play in</button>
  </div>
</div>
