<div class="container">
  <h1>Liked Zones</h1>

  <div class="jumbotron mt-5" *ngIf="likedList.length === 0">
    <div class="row">
      <div class="col">
        <h2 class="display-5">No liked zones yet</h2>
      </div>
      <div class="col text-end"><button type="button" class="btn btn-primary btn-lg back" (click)="goBack()"> <svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
          </svg> &nbsp; Back</button>
      </div>
    </div>

  </div>


  <div class="row">
    <app-zone class="col-3 p-2" *ngFor="let zone of likedList" [zone]="zone"></app-zone>
  </div>
</div>
